{% extends "base.html" %}

{% block hero %}
<div class="main-container">
  <div class="hero-container">
    {% include 'navbar.html' %}
    <!-- <div class="nav-bar">
      <div class="main-nav">
        <div class="logo">
          <img src="static/images/emtee logo.png" alt="">
        </div>
        <div class="nav-menu">
          <ul>
            <li><a href="#">About Ponmo</a></li>
            <li><a href="#">Our Store</a></li>
          </ul>
          <a href="wa.me//+2347078316207" class="contact">Contact Us</a>
        </div>
      </div>
      <div class="nav-content">
        <h1><span>Ponmo</span> isn't just food -<span>It's a cultural experience!</span></h1>
        <div class="btn"><a href="/order-form" class="ordernow">Order NOW!</a></div>
      </div>
    </div> -->
  </div>

  <!-- <div class="about">
    <div class="about-image about-info"><h1>1</h1></div>
    <div class="about-text about-info"><h1>2</h1></div>
    <div class="about-image1 about-info"><h1>3</h1></div>
    <div class="about-text1 about-info"><h1>4</h1></div>
  </div> -->
</div>
{% endblock %}