{% extends "base.html" %}

{% block nav %}
<div class="nav-bar">
    <div class="main-nav">
      <div class="logo">
        <img src="static/images/emtee logo.png" alt="">
      </div>
      <div class="nav-menu">
        <ul>
          <li><a href="#">About Ponmo</a></li>
          <li><a href="#">Our Store</a></li>
        </ul>
        <a href="https://wa.me/qr/YXLCBCVZHESRA1" class="contact">Contact Us</a>
      </div>
    </div>
    <div class="nav-content">
      <h1><span>Ponmo</span> isn't just food -<span>It's a cultural experience!</span></h1>
      <div class="btn"><a href="https://wa.me/qr/YXLCBCVZHESRA1" class="ordernow">Order NOW!</a></div>
    </div>
  </div>
{% endblock %}